{% extends "layout_2_col.html" %}
{% load static %}
{% load i18n %}

{% block title %}
    {{ page_title }} | {% trans 'Account' %} | {{ block.super }}
{% endblock %}

{% block body_class %}account-profile{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ homepage_url }}">{% trans 'Home' %}</a>
        </li>
        <li>
            <a href="{% url 'customer:summary' %}">{% trans 'Account' %}</a>
        </li>
        {% block extra_breadcrumbs %}{% endblock %}
        <li class="active">{{ page_title }}</li>
    </ul>
{% endblock %}

{% block headertext %}{{ page_title }}{% endblock %}

{% block column_left %}
    <ul class="nav nav-pills nav-stacked">
        {% block standard_tabs %}
            {% include 'customer/partials/standard_tabs.html' %}
        {% endblock %}
    </ul>
{% endblock %}

{% block content %}
    <h1>Личный кабинет</h1>
    <p class="t-align_center">Здравствуйте, {{ user.get_full_name|default:'заполните пожалуйста личные данные' }}!</p>

    <div class="col-lg-12 col-sm-12 t-align_center" style="width: 80%; margin-left: 10%;">
        <a class="col-lg-4 col-sm-4 col-12 {% if active_tab == 'profile' %}user-active-tab{% else %}user-tab{% endif %}"
           href="{% url 'customer:profile-view' %}">Моя информация</a>
        <a class="col-lg-4 col-sm-4 col-12 {% if active_tab == 'orders' %}user-active-tab{% else %}user-tab{% endif %}"
           href="{% url 'customer:order-list' %}">Мои заказы</a>
        <a class="col-lg-4 col-sm-4 col-12 {% if active_tab == 'wishlists' %}user-active-tab{% else %}user-tab{% endif %}"
           href="{% url 'customer:wishlists-list' %}">Избранные</a>
    </div>

    <div class="col-sm-12">
        <div class="tab-border col-sm-12">
            {% block tabcontent %}
            {% endblock tabcontent %}
        </div>
    </div>
{% endblock content %}
