{% extends "layout.html" %}
{% load i18n %}

{% block title %}
    Войти | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ homepage_url }}">{% trans 'Home' %}</a>
        </li>
        <li class="active">Войти</li>
    </ul>
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div class="form-container t-align_center">
        <form class="form" method="post">
            <h1 class="h2-art">Войти</h1>
            {% csrf_token %}
            {{ login_form.non_field_errors }}
            {% for field in login_form %}
                <div>
                    {{ field }}<br>
                    {{ field.errors }}
                </div>
            {% endfor %}
            <button name="login_submit" type="submit" value="Login" class="btn btn-primary btn-lg"
                    data-loading-text="Авторизация...">Отправить
            </button>
            <br><br>
            <p><a href="{% url 'password-reset' %}" style="font-size:14px; margin-top: 30px; color: #000000">Забыли
                пароль &#8250;</a></p>
        </form>
    </div>
{% endblock content %}
