{% extends "layout_2_col.html" %}

{% load i18n %}

{% block title %}
    {% trans 'Register' %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ homepage_url }}">{% trans 'Home' %}</a>
        </li>
        <li class="active">{% trans 'Register' %}</li>
    </ul>
{% endblock %}

{% block navigation %}
    {% include "partials/nav_index.html" %}
{% endblock %}

{% block headertext %}
    {% trans "Register" %}
{% endblock %}

{% block content %}
    <div class="form-container t-align_center">
        <form class="form" method="post">
            <h1 class="h2-art">Регистрация</h1>
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
                {% if field.name == 'subscribe' %}

                {% else %}
                    <div>
                        {{ field }}<br>
                        {{ field.errors }}
                    </div>
                {% endif %}
            {% endfor %}
            <button name="registration_submit" type="submit" value="Register" class="btn btn-primary btn-lg"
                    data-loading-text="{% trans 'Registering...' %}">Отправить
            </button>
            {% if cancel_url %}
                <br>
                {% trans "or" %} <a href="{{ cancel_url }}"> отмена.</a>
            {% endif %}
        </form>
    </div>
{% endblock content %}

