{% extends "layout_2_col.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% trans 'Enter a new password' %} | {{ block.super }}{% endblock %}

{% block navigation %}
    {% include "partials/nav_index.html" %}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ homepage_url }}">{% trans 'Home' %}</a>
        </li>
        <li>
            <a href="{% url 'password-reset' %}">{% trans 'Password reset' %}</a>
        </li>
        <li class="active">{% trans 'Enter a new password' %}</li>
    </ul>
{% endblock %}

{% block headertext %}{% trans "Enter a new password" %}{% endblock %}

{% block content %}
    {% if validlink %}
        <p class="p-art">{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
        <div class="form-container t-align_center">
            <form class="form" id="password_reset_form" action="" method="post">
                {% csrf_token %}
                {% for field in form %}
                    {{ field.errors }}
{#                    {{ field }}#}
                    {% render_field field class='' placeholder='Password' %}
                    <br>
                {% endfor %}
{#                {% include 'partials/form_fields.html' %}#}
                <button class="btn btn-primary" type="submit">Изменить мой пароль</button>
                        <div class="help-block">
                Ваш пароль не должен совпадать с вашим именем или другой персональной информацией или быть слишком
                похожим на неё.
                Ваш пароль должен содержать как минимум 8 символов.
                Ваш пароль не может быть одним из широко распространённых паролей.
                Ваш пароль не может состоять только из цифр.
            </div>
            </form>


        </div>
    {% else %}
        <h1 class="h1-art">{% trans 'Password reset unsuccessful' %}</h1>
        <p class="p-art">{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
    {% endif %}
{% endblock %}
