{% extends "layout_2_col.html" %}
{% load i18n %}

{% block title %}{% trans 'Password reset email sent' %} | {{ block.super }}{% endblock %}

{% block navigation %}
    {% include "partials/nav_index.html" %}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ homepage_url }}">{% trans 'Home' %}</a>
        </li>
        <li>
            <a href="{% url 'password-reset' %}">{% trans 'Password reset' %}</a>
        </li>
        <li class="active">{% trans 'Email sent' %}</li>
    </ul>
{% endblock %}

{% block headertext %}{% trans "Email sent" %}{% endblock %}

{% block content %}
    <p class="p-art">
        Мы отправили вам инструкции по смене вашего пароля<br>
        на указанный вами e-mail. Вскоре вы должны их получить.
    </p>
    <p class="p-art">
        Если вы не получили письма, пожалуйста, убедитесь,<br>
        что вы ввели адрес, с которым зарегистрировались, а так же<br>
        проверьте папку Спам в почтовой программе.
    </p>
{% endblock %}