{% load wishlist_tags %}
{% load static %}

{% if user.is_authenticated %}
    {% with wishlists=user.wishlists.all %}
        {# Select wishlists that contains product #}
        {% wishlists_containing_product wishlists product as product_wishlists %}

        {% if wishlists %}
            {# Add in first wishlist #}
            {% with wishlist=wishlists.0 %}
                {% if wishlist not in product_wishlists %}
                    <form action="{% url 'customer:wishlists-add-product' key=wishlist.key product_pk=product.pk %}"
                          method="post">
                        {% csrf_token %}
                        <button type="submit" class="like">
                            <div class="heart" style="width: 26px;height: 25px"></div>
                        </button>
                        <style>
                            .heart {
                                background-image: url('{% static '/oscar/img/heart/heart.svg' %}');
                                background-size: contain;
                                transition: 0.1s;
                            }

                            .heart:hover, .heart:active {
                                background-image: url('{% static '/oscar/img/heart/full-heart.svg' %}');
                                background-size: contain;
                                transition: 0.1s;
                            }
                        </style>
                    </form>
                {% endif %}
            {% endwith %}

        {% else %}
            {# User hasn't a wishlist #}
            <form action="{% url 'customer:wishlists-add-product' product_pk=product.pk %}"
                  method="post">
                {% csrf_token %}
                <button type="submit" class="like">
                    <div class="heart" style="width: 26px;height: 25px"></div>
                </button>
                <style>
                    .heart {
                        background-image: url('{% static '/oscar/img/heart/heart.svg' %}');
                        background-size: contain;
                        transition: 0.1s;
                    }

                    .heart:hover, .heart:active {
                        background-image: url('{% static '/oscar/img/heart/full-heart.svg' %}');
                        background-size: contain;
                        transition: 0.1s;
                    }
                </style>
            </form>
        {% endif %}

        {% for wishlist in product_wishlists %}
            <form action="{% url 'customer:wishlists-remove-product' key=wishlist.key product_pk=product.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="like"><div class="full-heart" style="width: 26px;height: 25px"></div></button>
                <style>
                    .full-heart {
                        background-image: url('{% static '/oscar/img/heart/full-heart.svg' %}');
                        background-size: contain;
                        transition: 0.1s;
                    }
                    .full-heart:hover, .full-heart:active {
                        background-image: url('{% static '/oscar/img/heart/heart.svg' %}');
                        background-size: contain;
                        transition: 0.1s;
                    }
                </style>
            </form>
        {% endfor %}
    {% endwith %}
{% else %}
    <button class="like" disabled="disabled"><img src="{% static '/oscar/img/heart/heart.svg' %}" style="width: 26px;height: 26px;"></button><br/>
{% endif %}
