{% load wishlist_tags %}

{% if user.is_authenticated %}
    {% with wishlists=user.wishlists.all %}
        {# Select wishlists that contains product #}
        {% wishlists_containing_product wishlists product as product_wishlists %}

        {% if wishlists %}
            {% with wishlist=wishlists.0 %}
                {% if wishlist not in product_wishlists %}
                    <a href="{% url 'customer:wishlists-add-product' key=wishlist.key product_pk=product.pk %}">
                        <button type="submit" class="btn btn-lg btn-primary btn-add-to-basket">Like it!</button>
                    </a>
                {% endif %}
            {% endwith %}
        {% else %}
            {# 1 or no existing wishlists - show a simple button #}
            <form id="add_to_wishlist_form" action="{% url 'customer:wishlists-add-product' product_pk=product.pk %}" method="post" class="btn-wishlist">
                {% csrf_token %}
                <button type="submit" class="btn btn-lg btn-primary btn-add-to-basket">Like it!</button>
            </form>

        {% endif %}


        {% for wishlist in product_wishlists %}
            <form action="{% url 'customer:wishlists-remove-product' key=wishlist.key product_pk=product.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-lg btn-primary btn-add-to-basket">Unlike it!</button>
            </form>
        {% endfor %}
    {% endwith %}
{% else %}
    <button class="btn btn-lg btn-primary btn-add-to-basket" disabled="disabled">Login for Like it!</button><br/>
{% endif %}
