{% load find_parent_tags %}

{% if product %}
    <a href="{{ product.get_absolute_url }}">
        <div class="box">
            <div class='aspect-ratio grey bcgi category-hover{{ product.id }}'>

                <div class="item-opt col-sm-12">

                    <div class="item-opt-colours col-sm-6">
                        {# Colors Panel #}
                        {% get_product_parent product as product_parent %}
                        {% if product_parent.can_be_parent and product_parent.use_colors %}
                            {% for child in product_parent.children.all %}
                                <p class="item-circle" style="
                                        background:
                                        {% if child.color %}{{ child.color }}{% else %}#eeeeee{% endif %};"></p>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="item-opt-like col-sm-6" style="text-align: right;">
                        {% load display_tags %}
                        {% iffeature "wishlists" %}
                            {% include "catalogue/partials/add_to_first_wishlist_min.html" %}
                        {% endiffeature %}
                    </div>

                </div>

                <div class="item-descr">
                    <h4>{{ product }}</h4>
                    <p>{{ product_parent.get_product_class.name }}</p>

                    <p class="price">
                        {% include "catalogue/partials/stock_record.html" %}
                    </p>
                </div>

            </div>

            {% with all_images=product.get_all_images %}
                <style>
                    .category-hover{{ product.id }} {
                        background-image: url('{{ all_images.0.original.url }}');
                    }

                    .category-hover{{ product.id }}:hover {
                        background-image: url('{{ all_images.1.original.url }}');
                    }

                    .category-hover{{ product.id }}:hover .item-opt {
                        display: block;
                    }
                </style>
            {% endwith %}

        </div>
    </a>
{% endif %}
