{% extends "checkout/base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block title %}
    {% trans "Checkout gateway" %} | {{ block.super }}
{% endblock %}

{% block checkout_title %}{% trans "Who are you?" %}{% endblock %}

{% block content %}
    {% include 'checkout/nav.html' with step=0 %}

    <div class="form-container t-align_center">
        <form action="." method="post" class="form">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div>
                <h3>{{ form.username.label }}</h3>
                <p>{{ form.username.errors }}</p>
                <p>{{ form.username }}</p>
            </div>

            <style>
                #id_options_0,
                #id_options_1,
                #id_options_2,
                #id_options_3 {
                    width: 20px !important;
                }
            </style>

            <div class="radio t-align_left" style="margin: 0 auto; width: 350px;">
                {{ form.options.0 }}
            </div>
            <br>
            <div class="radio t-align_left" style="margin: 0 auto; width: 350px;">
                {{ form.options.2 }}
                <div class="form-inline">
                    {% render_field form.password class+="form-control" %}
                    <small><a href="{% url 'password-reset' %}"
                              tabindex="-1">{% trans "Get a password reminder" %}</a></small>
                    {% for error in form.password.errors %}
                        <span class="error-block">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
            <br>
            <div class="radio t-align_left" style="margin: 0 auto; width: 350px;">
                {{ form.options.1 }}
            </div>
            <br><br>
            <button class="btn btn-primary" type="submit"
                    data-loading-text="{% trans 'Continuing...' %}">{% trans "Continue" %}</button>
        </form>
    </div>
{% endblock content %}

{% block onbodyload %}
    {{ block.super }}
    oscar.checkout.gateway.init();
{% endblock %}
