{% extends "checkout/base.html" %}

{% load currency_filters %}
{% load i18n %}
{% load shipping_tags %}

{% block title %}
    Способ оплаты | {{ block.super }}
{% endblock %}

{% block checkout_title %}Выберите способ оплаты{% endblock %}

{% block steps_nav %}
    {% include 'checkout/nav.html' with step=2 %}
{% endblock %}

{% block order_contents %}{% endblock %}
{% block shipping_address %}{% endblock %}
{% block shipping_method %}{% endblock %}

{% block payment_method %}
    <div class="form-container t-align_center">
        <h3>Выберите способ оплаты</h3>
        <div class="form-container t-align_center" class="select-container-full">
            <form class="form" method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {% for field in form %}
                    <div class="select-container-full">
                        {{ field.errors }}<br>
                        {{ field }}
                        <br><br>
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-lg btn-primary"
                        data-loading-text="{% trans 'Continuing...' %}">{% trans "Continue" %}</button>
            </form>
        </div>
    </div>
{% endblock %}
