[Unit]
Description=uWSGI instance to django Artskill application

[Service]
ExecStartPre=-/usr/bin/bash -c 'mkdir -p /run/uwsgi; chown root:nginx /run/uwsgi; mkdir -p /var/log/artskill'
ExecStart=/usr/bin/bash -c 'source /usr/local/venv_artskill/bin/activate; uwsgi --ini /usr/local/artskill/uwsgi_artskill.ini'
Restart=always

[Install]
WantedBy=multi-user.target
