[Unit]
Description=uWSGI instance to django Artskill application

[Service]
ExecStartPre=-/usr/bin/bash -c 'mkdir -p /run/uwsgi; chown root:nginx /run/uwsgi; mkdir -p /var/log/artskill'
ExecStart=/usr/bin/bash -c 'uwsgi --ini /var/www/artskill/uwsgi_artskill.ini'

[Install]
WantedBy=multi-user.target