{% extends "layout_2_col.html" %}

{% load basket_tags %}
{% load category_tags %}
{% load product_tags %}
{% load static %}
{% load i18n %}

{% block title %}
{% if summary %}{{ summary }} |{% endif %} {{ block.super }}
{% endblock %}

{% block headertext %}{{ summary }}{% endblock %}




{% block content %}




<div class="catalogue_content">

    <div class="col-sm-2 side-desktop-menu">
        {% block nav_dropdown %}
        <h2 style="font-size: 20px; text-align: left;letter-spacing: normal; margin-top:0;margin-bottom: 5%">Категории</h2>
        <ul id="browse" class="list-goods">
            <li class="">
                <ul class="list-goods" data-navigation="">

                    {% category_tree depth=2 as tree_categories %}

                    {% if tree_categories %}
                        <li class="divider"></li>
                        {% for tree_category, info in tree_categories %}
                            {% if info.has_children %}
                                <li class="dropdown-submenu">
                                <a tabindex="-1" href="{{ tree_category.get_absolute_url }}">{{ tree_category.name }}</a>
                                <ul class="dropdown-menu">
                            {% else %}
                                <li><a tabindex="-1" href="{{ tree_category.get_absolute_url }}">{{ tree_category.name }}</a></li>
                            {% endif %}
                            {% for close in info.num_to_close %}
                            </ul>
                                </li>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}

                </ul>
            </li>
            {% block nav_extra %}
            {% endblock %}
        </ul>
        {% endblock %}
    </div><!-- /navbar-collapse -->


    <div class="col-sm-10 catalogue-desktop-content">
        <div class="col-sm-6 col-xs-12 big-box">

            {# Load categories! #}
            {% category_tree as categories %}

            {% with category=categories.0.0 %}
            <a href="{{ category.get_absolute_url }}">
            <div class="box">
                <div class='aspect-ratio box-relative blue'>

                    <h3 class="category-name-top" style="color: #ffffff">{{category.name}}</h3>
                    {% if category.image %}
                    <img src="{{ category.image.url }}" alt="{{category.name}}">
                    {% else %}
                    <img src="{% get_media_prefix %}image_not_found.jpg" alt="{{category.name}}">
                    {% endif %}
                </div>
            </div>
            </a>
            {% endwith %}
        </div>

        <div class="col-sm-6 col-xs-12">
            <div class="col-sm-6 col-xs-6">
                {% with category=categories.2.0 %}
                <a href="{{ category.get_absolute_url }}">
                <div class="box">
                    <div class='aspect-ratio grey'>
                        <h3 class="category-name">{{category.name}}</h3>
                        {% if category.image %}
                        <img src="{{ category.image.url }}" alt="{{category.name}}">
                        {% else %}
                        <img src="{% get_media_prefix %}image_not_found.jpg" alt="{{category.name}}">
                        {% endif %}
                    </div>
                </div>
                </a>
                {% endwith %}
            </div>
            <div class="col-sm-6 col-xs-6">
                {% with category=categories.3.0 %}
                <a href="{{ category.get_absolute_url }}">
                <div class="box">
                    <div class='aspect-ratio white'>
                        <h3 class="category-name">{{category.name}}</h3>
                        {% if category.image %}
                        <img src="{{ category.image.url }}" alt="{{category.name}}">
                        {% else %}
                        <img src="{% get_media_prefix %}image_not_found.jpg" alt="{{category.name}}">
                        {% endif %}

                    </div>
                </div>
                </a>
                {% endwith %}
            </div>

            <div class="col-sm-6 col-xs-6">
                {% with category=categories.4.0 %}
                <a href="{{ category.get_absolute_url }}">
                <div class="box">
                    <div class='aspect-ratio whire'>
                        <h3 class="category-name">{{category.name}}</h3>
                        {% if category.image %}
                        <img src="{{ category.image.url }}" alt="{{category.name}}">
                        {% else %}
                        <img src="{% get_media_prefix %}image_not_found.jpg" alt="{{category.name}}">
                        {% endif %}

                    </div>
                </div>
                </a>
                {% endwith %}
            </div>
            <div class="col-sm-6 col-xs-6">
                {% with category=categories.7.0 %}
                <a href="{{ category.get_absolute_url }}">
                <div class="box">
                    <div class='aspect-ratio grey'>
                        <h3 class="category-name">{{category.name}}</h3>
                        {% if category.image %}
                        <img src="{{ category.image.url }}" alt="{{category.name}}">
                        {% else %}
                        <img src="{% get_media_prefix %}image_not_found.jpg" alt="{{category.name}}">
                        {% endif %}

                    </div>
                </div>
                </a>
                {% endwith %}
            </div>
        </div>
    </div>



    <div class="col-sm-2"></div>
    <div class="col-sm-10 catalogue-desktop-content">

        <div class="col-sm-6 col-xs-12">
            <div class="col-sm-6 col-xs-6">
                {% with category=categories.5.0 %}
                <a href="{{ category.get_absolute_url }}">
                <div class="box">
                    <div class='aspect-ratio grey'>
                        <h3 class="category-name">{{category.name}}</h3>
                        {% if category.image %}
                        <img src="{{ category.image.url }}" alt="{{category.name}}">
                        {% else %}
                        <img src="{% get_media_prefix %}image_not_found.jpg" alt="{{category.name}}">
                        {% endif %}

                    </div>
                </div>
                </a>
                {% endwith %}
            </div>
            <div class="col-sm-6 col-xs-6">
                {% with category=categories.6.0 %}
                <a href="{{ category.get_absolute_url }}">
                <div class="box">
                    <div class='aspect-ratio white'>
                        <h3 class="category-name">{{category.name}}</h3>
                        {% if category.image %}
                        <img src="{{ category.image.url }}" alt="{{category.name}}">
                        {% else %}
                        <img src="{% get_media_prefix %}image_not_found.jpg" alt="{{category.name}}">
                        {% endif %}

                    </div>
                </div>
                </a>
                {% endwith %}
            </div>

            <div class="col-sm-6 col-xs-6">
                {% with category=categories.9.0 %}
                <a href="{{ category.get_absolute_url }}">
                <div class="box">
                    <div class='aspect-ratio whire'>
                        <h3 class="category-name">{{category.name}}</h3>
                        {% if category.image %}
                        <img src="{{ category.image.url }}" alt="{{category.name}}">
                        {% else %}
                        <img src="{% get_media_prefix %}image_not_found.jpg" alt="{{category.name}}">
                        {% endif %}

                    </div>
                </div>
                </a>
                {% endwith %}
            </div>
            <div class="col-sm-6 col-xs-6">
                {% with category=categories.8.0 %}
                <a href="{{ category.get_absolute_url }}">
                <div class="box">
                    <div class='aspect-ratio grey'>
                        <h3 class="category-name">{{category.name}}</h3>
                        {% if category.image %}
                        <img src="{{ category.image.url }}" alt="{{category.name}}">
                        {% else %}
                        <img src="{% get_media_prefix %}image_not_found.jpg" alt="{{category.name}}">
                        {% endif %}

                    </div>
                </div>
                </a>
                {% endwith %}
            </div>
        </div>

        <div class="col-sm-6 col-xs-12">
            <div class="box">
                {% with category=categories.1.0 %}
                <a href="{{ category.get_absolute_url }}">
                <div class='aspect-ratio dark-grey'>
                    <h3 class="category-name-top" style="color: #ffffff">{{category.name}}</h3>
                    <h3 class="category-name-top">{{category.name}}</h3>
                    {% if category.image %}
                    <img src="{{ category.image.url }}" alt="{{category.name}}">
                    {% else %}
                    <img src="{% get_media_prefix %}image_not_found.jpg" alt="{{category.name}}">
                    {% endif %}

                </div>
                </a>
            </div>
            {% endwith %}
        </div>
    </div>
</div>












{% endblock content %}

{% block onbodyload %}
{{ block.super }}
oscar.search.init();
{% endblock %}
