{% extends "catalogue/browse.html" %}

{% load find_parent_tags %}

{% load i18n %}

{% block title %}
    {{ shop_name }} - {{ category.name }}
{% endblock %}

{% block description %}
    {{ category.description|default:""|striptags }}
{% endblock %}

{% block header %}
    <div class="page-header action">
        {% if user.is_staff %}
            <a class="pull-right hidden-xs" href="{% url 'dashboard:catalogue-category-update' pk=category.id %}">
                <small><i class="icon-edit"></i> {% trans "Edit this category" %}</small>
            </a>
        {% endif %}
        <h1>{% block headertext %}{{ category.name }}{% endblock %}</h1>
    </div>
{% endblock %}

{% block breadcrumbs %}

    <div class="col-sm-1"></div>
    <div class="col-sm-11">
        <ul class="breadcrumb">
            <li>
                <a href="{% url 'catalogue:index' %}">Каталог товаров</a>
            </li>
            {% for category in category.get_ancestors %}
                <li>
                    <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                </li>
            {% endfor %}
            <li class="active">{{ category.name }}</li>
        </ul>
    </div>

{% endblock breadcrumbs %}


{% block content %}
    <div class="col-sm-1"></div>
    <div class="col-sm-11">
        <h2 class="category-heading t-align_left" style="margin: 20px 0">{{ category.name }}</h2>
    </div>
    {% for product in products %}
        <div class="col-sm-3">
            {% include 'catalogue/partials/product.html' %}
        </div>
    {% endfor %}
{% endblock %}
