{% extends "layout.html" %}

{% load history_tags %}
{% load currency_filters %}
{% load reviews_tags %}
{% load staticfiles %}
{% load product_tags %}
{% load display_tags %}
{% load i18n %}
{% load purchase_info_tags %}

{# Preprocessing images #}
{% load thumbnail %}

{% load find_parent_tags %}


{% block title %}
    {{ product.title }} | {{ block.super }}
{% endblock %}

{% block description %}
    {% get_product_parent product as product_parent %}
    {{ product_parent.description|default:""|striptags }}
{% endblock %}
{% block extrastyles %}

    <script src="{% static 'oscar/owlcarousel/jquery.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'oscar/owlcarousel/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'oscar/owlcarousel/owl.theme.default.min.css' %}">


    <script src="{% static 'oscar/owlcarousel/owl.carousel.min.js' %}"></script>

{% endblock %}

{% block breadcrumbs %}
    <div class="col-sm-1"></div>
    <div class="col-sm-11">
        <ul class="breadcrumb">
            {% get_product_parent product as product_parent %}
            <li>
                <a href="{% url 'catalogue:index' %}">Каталог товаров</a>
            </li>
            {% with category=product_parent.categories.all.0 %}
                {% for c in category.get_ancestors_and_self %}
                    <li>
                        <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                    </li>
                {% endfor %}
                <li class="active">{{ product_parent.title }}</li>

                {% get_back_button as backbutton %}
                {% if backbutton %}
                    <li class="pull-right">
                        <a href="{{ backbutton.url }}">
                            <i class="icon-arrow-left"></i> {{ backbutton.title }}
                        </a>
                    </li>
                {% endif %}
            {% endwith %}
        </ul>
    </div>
{% endblock %}

{% block header %}
{% endblock header %}


{% block content %}
    {% get_product_parent product as product_parent %}
    {% get_all_images_for_product product as detail_images %}

    <article class="product_page"><!-- Start of product page -->

        <div class="row">

            {% block product_gallery %}
                <div class="col-sm-6 desktop-detail">
                    <div class="box-item">
                        <div class='aspect-ratio aspect-ratio-item grey'>
                            <img src="{{ detail_images.0.original.url }}" alt="" class="product_img">
                        </div>
                    </div>
                </div>
            {% endblock %}


            <div class="mobile-detail t-rec_pt_30">
                <div class="owl-carousel owl-theme">

                    {% for image in detail_images %}
                        <div class="item"><img src="{{ image.original.url }}" alt="" class="product_img"></div>
                    {% endfor %}

                </div>

                <script>
                    $(document).ready(function () {
                        $(".owl-carousel").owlCarousel();
                    });
                    $('.owl-carousel').owlCarousel({
                        center: true,
                        items: 1,
                        loop: true,
                        margin: 10,
                        responsiveClass: true,
                        responsive: {
                            0: {
                                items: 1,
                                nav: true
                            },
                            600: {
                                items: 1,
                                nav: false
                            },
                            1000: {
                                items: 1,
                                nav: true,
                                loop: false
                            }
                        }
                    })
                </script>
            </div>


            {% block product_main %}
                <div class="col-sm-6 product_main marpad">
                    <div class="box-item">
                        <div class='aspect-ratio aspect-ratio-item item-description'>
                            {% if user.is_staff %}
                                <a class="pull-right hidden-xs"
                                   href="{% url 'dashboard:catalogue-product' pk=product_parent.id %}">
                                    <small><i class="icon-edit"></i> {% trans "Edit this product" %}</small>
                                </a>
                            {% endif %}


                            <p class="shadow"
                               style="text-transform: uppercase;">{% trans "UPC" %}
                                {% if product.upc %}
                                    {{ product.upc }}
                                {% elif product_parent.upc %}
                                    {{ product_parent.upc }}
                                {% endif %}</p>

                            <h1 class="title" style="text-align: left">{{ product_parent.get_title }}</h1>

                            <p class="classname">{{ product_parent.get_product_class.name }}</p>


                            <div class="price">
                                {% block product_stock_record %}
                                    {% include "catalogue/partials/stock_record.html" with verbose=1 %}
                                {% endblock %}
                            </div>


                            <div>
                                {# Colors Panel #}
                                {% get_product_parent product as product_parent %}
                                {% if product_parent.can_be_parent and product_parent.use_colors %}
                                    <h3>Цвет: {{ line.product.get_color_display }}</h3>
                                    {% for child in product_parent.children.all %}
                                        <a href="{{ child.get_absolute_url }}">
                                            <p style="display: inline-block;
                                                    width: 30px;
                                                    height: 30px;

                                                    border-radius: 50%;
                                                    background:
                                                    {% if child.color %}{{ child.color }}{% else %}#eeeeee{% endif %};
                                                    border: solid 1.5px
                                                    {% if product.id == child.id %}
                                                        #000000
                                                    {% else %}
                                                        #ffffff
                                                    {% endif %};
                                                    "></p>
                                        </a>
                                    {% endfor %}
                                {% endif %}
                            </div>


                            {% block product_description %}
                                <div class="description">

                                    {% if product_parent.description %}
                                        <div class="t-records" data-hook="blocks-collection-content-node">
                                            <div id="rec90700797" style="padding-bottom:80px; "
                                                 data-animationappear="off" data-record-type="849"><!-- t849-->
                                                <div class="t849">
                                                    <div class="t-container">
                                                        <div class="t-col t-col_8 t-prefix_2">
                                                            <div class="t849__accordion">
                                                                <div class="t849__wrapper">
                                                                    <div class="t849__header"
                                                                         style=" border-top: 1px solid #ffffff;">
                                                                        <div class=" col-sm-6"
                                                                             field="li_title__1531218331971" style="">
                                                                            <div id="product_description" class="">
                                                                                <h2 class="description"
                                                                                    style="text-align: left">{% trans "Product Description" %}</h2>
                                                                            </div>
                                                                            <br/></div>
                                                                        <div class="t849__icon col-sm-6"
                                                                             style="text-align: right">
                                                                            <div class="t849__lines">
                                                                                <svg width="24px" height="24px"
                                                                                     viewBox="0 0 24 24"
                                                                                     xmlns="http://www.w3.org/2000/svg"
                                                                                     xmlns:xlink="http://www.w3.org/1999/xlink">
                                                                                    <g stroke="none" stroke-width="2px"
                                                                                       fill="#000000"
                                                                                       fill-rule="evenodd"
                                                                                       stroke-linecap="square">
                                                                                        <g transform="translate(1.000000, 1.000000)"
                                                                                           stroke="#000000">
                                                                                            <path d="M0,11 L22,11"></path>
                                                                                        </g>
                                                                                    </g>
                                                                                </svg>

                                                                            </div>

                                                                            <div class="t849__circle"
                                                                                 style="background-color: transparent;"></div>
                                                                        </div>
                                                                        <div class="div col-sm-12"
                                                                             style="width: 100%; height: 2px; background: #000000"></div>

                                                                    </div>

                                                                    <div class="t849__content col-sm-12">
                                                                        <div class="">
                                                                            <div class=""
                                                                                 field="li_descr__1531218331971"
                                                                                 style="">

                                                                                <div class="shadow">
                                                                                    <p>{{ product_parent.description|safe }}</p>
                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>
                                                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                                                <script>
                                                    function t849_init(recid) {
                                                        var rec = $('#rec' + recid);
                                                        var toggler = rec.find('.t849__header');
                                                        toggler.click(function () {
                                                            $(this).toggleClass('t849__opened');
                                                            $(this).next().slideToggle();
                                                            if (window.lazy == 'y') {
                                                                t_lazyload_update()
                                                            }
                                                        })
                                                    }
                                                </script>
                                                <script type="text/javascript"> $(document).ready(function () {
                                                    t849_init('90700797');
                                                });</script>


                                            </div>
                                        </div>

                                    {% endif %}

                                </div>
                                {% block product_basket_form %}
                                    {% include "catalogue/partials/add_to_basket_form.html" %}
                                {% endblock %}
                            {% endblock %}

                        </div><!-- /!col-sm-6 -->
                    </div>
                </div>
            {% endblock %}

            {# Set of images 1 #}
            {% if detail_images.1 and detail_images.2 %}
                <div class="col-sm-6 desktop-detail">
                    <div class="box-item">
                        <div class='aspect-ratio aspect-ratio-item item-margin '>
                            <img src="{{ detail_images.1.original.url }}" alt="" class="product_img">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 desktop-detail">
                    <div class="box-item ">
                        <div class='aspect-ratio aspect-ratio-item item-margin '>
                            <img src="{{ detail_images.2.original.url }}" alt="" class="product_img">
                        </div>
                    </div>
                </div>
            {% endif %}

            {# Set of images 2 #}
            {% if detail_images.3 and detail_images.4 %}
                <div class="col-sm-6 desktop-detail">
                    <div class="box-item">
                        <div class='aspect-ratio aspect-ratio-item item-margin '>
                            <img src="{{ detail_images.3.original.url }}" alt="" class="product_img">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 desktop-detail">
                    <div class="box-item">
                        <div class='aspect-ratio aspect-ratio-item item-margin '>
                            <img src="{{ detail_images.4.original.url }}" alt="" class="product_img">
                        </div>
                    </div>
                </div>
            {% endif %}

        </div><!-- /row -->


        <div class="full-description">
            {{ product_parent.details_description|safe }}

            {% for av in product.attribute_values.all %}
                {{ av.attribute.name }}<br>
                {{ av.value_as_html }}<br><br>
            {% endfor %}
        </div>






        {% with recommended_products=product_parent.sorted_recommended_products|slice:":6" %}
            {% if recommended_products %}
                <div class="sub-header">
                    <h2 class="t-align_center" style="font-size: 36px;">{% trans "Recommended items" %}</h2>
                </div>
                {% for product in recommended_products %}
                    <div class="col-sm-3">
                        <div class="box">
                            <div class='aspect-ratio  grey'>

                                <img src="{{ product.primary_image.original.url }}" alt="">
                                <h4>{{ product }}</h4>
                                <p>{{ product.get_product_class.name }}</p>
                                <p>{{ product.upc }}</p>


                            </div>
                        </div>
                    </div>
                {% endfor %}


            {% endif %}
        {% endwith %}




        {%comment%}
        {% recently_viewed_products current_product=product %}
        {%endcomment%}

    </article><!-- End of product page -->
{% endblock content %}

{% block extrascripts %}
    {{ block.super }}
{% endblock %}









