{% extends "layout.html" %}

{% load history_tags %}
{% load currency_filters %}
{% load reviews_tags %}
{% load staticfiles %}
{% load product_tags %}
{% load display_tags %}
{% load i18n %}
{% load purchase_info_tags %}

{# Preprocessing images #}
{% load thumbnail %}

{% load find_parent_tags %}


{% block title %}
    {{ product.title }} | {{ block.super }}
{% endblock %}

{% block description %}
    {% get_product_parent product as product_parent %}
    {{ product_parent.description|default:""|striptags }}
{% endblock %}

{% block breadcrumbs %}
    <div class="col-sm-1"></div>
    <div class="col-sm-11">
        <ul class="breadcrumb">
            {% get_product_parent product as product_parent %}
            <li>
                <a href="{% url 'catalogue:index' %}">Каталог товаров</a>
            </li>
            {% with category=product_parent.categories.all.0 %}
                {% for c in category.get_ancestors_and_self %}
                    <li>
                        <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                    </li>
                {% endfor %}
                <li class="active">{{ product_parent.title }}</li>

                {% get_back_button as backbutton %}
                {% if backbutton %}
                    <li class="pull-right">
                        <a href="{{ backbutton.url }}">
                            <i class="icon-arrow-left"></i> {{ backbutton.title }}
                        </a>
                    </li>
                {% endif %}
            {% endwith %}
        </ul>
    </div>
{% endblock %}

{% block header %}
{% endblock header %}


{% block content %}
    {% get_product_parent product as product_parent %}

    <article class="product_page"><!-- Start of product page -->

        <div class="row">

            {% block product_gallery %}
                <div class="col-sm-6">
                    <div class="box-item">
                        <div class='aspect-ratio aspect-ratio-item grey'>
                            {% with all_images=product.get_all_images %}
                                <img src="{{ product.primary_image.original.url }}" alt="" class="product_img">
                            {% endwith %}
                        </div>
                    </div>
                </div>
            {% endblock %}


            {% block product_main %}
                <div class="col-sm-6 product_main marpad">
                    <div class="box-item">
                        <div class='aspect-ratio aspect-ratio-item item-description'>
                            {% if user.is_staff %}
                                <a class="pull-right hidden-xs"
                                   href="{% url 'dashboard:catalogue-product' pk=product_parent.id %}">
                                    <small><i class="icon-edit"></i> {% trans "Edit this product" %}</small>
                                </a>
                            {% endif %}


                            <p class="shadow"
                               style="text-transform: uppercase;">{% trans "UPC" %}
                                {% if product.upc %}
                                    {{ product.upc }}
                                {% elif product_parent.upc %}
                                    {{ product_parent.upc }}
                                {% endif %}</p>

                            <h1 class="title" style="text-align: left">{{ product_parent.get_title }}</h1>

                            <p class="classname">{{ product_parent.get_product_class.name }}</p>


                            <div class="price">
                                {% block product_stock_record %}
                                    {% include "catalogue/partials/stock_record.html" with verbose=1 %}
                                {% endblock %}
                            </div>


                            <div>
                                {# Colors Panel #}
                                {% get_product_parent product as product_parent %}
                                {% if product_parent.can_be_parent and product_parent.use_colors %}
                                    <h3>Цвет: {{ line.product.get_color_display }}</h3>
                                    {% for child in product_parent.children.all %}
                                        <a href="{{ child.get_absolute_url }}">
                                            <p style="display: inline-block;
                                                    width: 30px;
                                                    height: 30px;
                                                    margin-left: 12px;
                                                    border-radius: 50%;
                                                    background:
                                                    {% if child.color %}{{ child.color }}{% else %}#eeeeee{% endif %};
                                                    border: solid 1.5px
                                                    {% if product.id == child.id %}
                                                        #000000
                                                    {% else %}
                                                        #ffffff
                                                    {% endif %};
                                                    "></p>
                                        </a>
                                    {% endfor %}
                                {% endif %}
                            </div>


                            {% block product_description %}
                                <div class="description">
                                    {% if product_parent.description %}
                                        <div id="product_description" class="desc-header">
                                            <h2 class="description"
                                                style="text-align: left">{% trans "Product Description" %}</h2>
                                        </div>
                                        <div class="shadow">{{ product_parent.description|safe }}</div>
                                    {% endif %}
                                </div>
                                {% block product_basket_form %}
                                    {% include "catalogue/partials/add_to_basket_form.html" %}
                                {% endblock %}

                            {% endblock %}
                        </div><!-- /col-sm-6 -->
                    </div>
                </div>
            {% endblock %}

            {% with all_images=product_parent.get_all_images %}

                <div class="col-sm-6">
                    <div class="box-item">
                        <div class='aspect-ratio aspect-ratio-item item-margin '>
                            <img src="{{ all_images.2.original.url }}" alt="" class="product_img">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="box-item">
                        <div class='aspect-ratio aspect-ratio-item item-margin '>
                            <img src="{{ all_images.3.original.url }}" alt="" class="product_img">
                        </div>
                    </div>
                </div>

            {% endwith %}

        </div><!-- /row -->


        <div>
            <h2 class="mt-5">Здесь будет подробное описание товара</h2>
            <h3>{{ product_parent.details_description|safe }}</h3>
            <h2>Конец описания</h2>

            {% for av in product.attribute_values.all %}
                {{ av.attribute.name }}<br>
                {{ av.value_as_html }}<br><br>
            {% endfor %}
        </div>






        {% with recommended_products=product_parent.sorted_recommended_products|slice:":6" %}
            {% if recommended_products %}
                <div class="sub-header">
                    <h2 class="t-align_center" style="font-size: 36px;">{% trans "Recommended items" %}</h2>
                </div>
                {% for product in recommended_products %}
                    <div class="col-sm-3">
                        <div class="box">
                            <div class='aspect-ratio  grey'>

                                <img src="{{ product.primary_image.original.url }}" alt="">
                                <h4>{{ product }}</h4>
                                <p>{{ product.get_product_class.name }}</p>
                                <p>{{ product.upc }}</p>


                            </div>
                        </div>
                    </div>
                {% endfor %}


            {% endif %}
        {% endwith %}




        {%comment%}
        {% recently_viewed_products current_product=product %}
        {%endcomment%}

    </article><!-- End of product page -->
{% endblock content %}

{% block extrascripts %}
    {{ block.super }}
{% endblock %}









