<ul class="list-inline">
    <li><a href="{% url 'artskill:home' %}">INDEX</a></li>
    <li><a href="{% url 'artskill:brand' %}">BRAND</a></li>
    <li><a href="{% url 'artskill:contacts' %}">CONTACTS</a></li>
    <li><a href="{% url 'artskill:where-to-buy' %}">WHERE TO BUY</a></li>
    <li><a href="{% url 'artskill:collaboration' %}">COLLABORATION</a></li>
    <li><a href="{% url 'artskill:delivery' %}">DELIVERY</a></li>
    <li><a href="{% url 'artskill:return' %}">RETURN</a></li>
    <li><a href="{% url 'artskill:sale' %}">SALE</a></li>
</ul>