{% extends "layout_2_col.html" %}
{% load static %}
{% load i18n %}

{% block navigation %}
    {% include "partials/nav_index.html"%}
{% endblock %}

{% block header %}{% endblock %}

{% block column_left %}
{% endblock %}

{% block content %}

<h1>Artskill</h1>
<p class="small-p">Мы петербургский бренд аксессуаров из кожи Artskill.</p>
<p class="centered-par">Наша флагманская модель - пенал для художников Artskill Pro, необходимый специалистам креативной индустрии. Сейчас в нашем ассортименте каждый сможет подобрать себе аксессуар по функциональности и размеру.</p>

<div class="penal col-sm-12">
    <div class="col-sm-2"></div>
    <div class="col-sm-4">
        <h2 style="text-align: left; margin-top: 23%">Artskill Pro</h2>
        <p style="font-size: 18px">Пенал для художниов</p>
    </div>
    <div class="col-sm-4">
        <img src="{% static '/oscar/img/about/image-about.jpg' %}" style="width: 100%">
    </div>
    <div class="col-sm-2"></div>
</div>

<h2>Наши основные направления</h2>
<p class="centered-par">Запросы наших клиентов часто схожи с нашими, будь то чехол для MacBook или холдер для украшений. Когда мы разрабатываем новый продукт, мы советуемся со специалистами в соответствующей сфере, узнаем их потребности и разрабатываем функционал. Например, пенал для перьев мы сделали по запросу каллиграфов, а холдер для украшений по запросу ювелира.</p>
<p class="centered-par">Все изделия производим небольшими партиями в собственном цеху в Санкт-Петербурге. Тестируем сами в работе и путешествиях. Кожу приобретаем у поставщиков лучших российских и итальянский производителей. Многое зависит от материалов и технологий обработки, поэтому мы с трепетом относимся к выбору кожи и развиваем наше производство. Важно, чтобы все было продумано – рационально использовался материал, технология сборки была быстрой, а изделие удобно при использовании.</p>

<div class="brand-spheres col-sm-12">
    <div class="col-sm-3 brand-sphere">
        <img src="{% static '/oscar/img/about/art-create.jpg' %}" style="width: 100%">
        <p class="brand-sphere-p">Art / Create</p>
    </div>
    <div class="col-sm-3 brand-sphere">
        <img src="{% static '/oscar/img/about/travel.jpg' %}" style="width: 100%">
        <p class="brand-sphere-p">Travel</p>
    </div>
    <div class="col-sm-3 brand-sphere">
        <img src="{% static '/oscar/img/about/day.jpg' %}" style="width: 100%">
        <p class="brand-sphere-p">Day-to-day</p>

    </div>
    <div class="col-sm-3 brand-sphere">
        <img src="{% static '/oscar/img/about/beauty.jpg' %}" style="width: 100%">
        <p class="brand-sphere-p">Beauty life</p>
    </div>

</div>
<h2>Наши преимущества</h2>
<p class="centered-par">Мы создаём продукт, на который обычно не обращают внимание крупные компании. Поэтому мы создаём вещи с большой ответственностью.
    Сначала думаем о практичности и универсальности, а потом уже о тенденциях моды.</p>
<h2>Ключевые ценности</h2>
<p class="centered-par">В мире, где тренды и настроения быстро меняются, нам важно, чтобы наши вещи служили долго и становились лучше с каждым годом.
    Нам приятно следить за нашими художниками, дизайнерами, путешественниками и просто красивыми леди, которые ежедневно используют наши изделия. Они разлетаются по всему миру и приобретают харизму наших друзей!</p>

{% endblock content %}
