{% extends "layout_2_col.html" %}

{% block title %}Оформление заказа{% endblock %}

{% block navigation %}
    {% include "partials/nav_index.html" %}
{% endblock %}

{% block header %}{% endblock %}

{% block column_left %}
{% endblock %}

{% block content %}
    <h1 class="h1-art">Оформление заказа</h1>
    <p class="p-art">В данный момент раздел находится в разработке<br>
        В самое ближайшее время он начнет своё функционирование
    </p>
    <p class="p-art">Для оформлени заказа свяжитесь с нами любым из представленных ниже способов<br>
        С уважением, ваш Artskill
    </p>
    <div class="contacts">
        <p class="upper">email</p>
        <p>info@artskill.store</p>
        <p class="upper">Телефон</p>
        <p>8 921 586 88 90</p>
        <p class="upper">Адрес</p>
        <p>Санкт-Петербург</p>
        <p>Белградская 6 - 4 лит А</p>
    </div>
{% endblock content %}
