{% extends "layout_2_col.html" %}

{% block title %}Возврат{% endblock %}

{% block navigation %}
    {% include "partials/nav_index.html" %}
{% endblock %}

{% block header %}{% endblock %}

{% block column_left %}
{% endblock %}

{% block content %}
    <h1 class="h1-art">Возврат</h1>
    <p class="p-art">Если у Вас возник вопрос по нашему продукту, пожалуйста свяжитесь с нами.<br>
        Мы все решим.</p>
    <div class="form-container t-align_center">
        <form class="form" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
                {{ field.errors }}
                {{ field }}
                <br>
            {% endfor %}
            <button class="btn btn-primary" type="submit">Отправить</button>
        </form>
    </div>
{% endblock content %}