{% extends "layout_2_col.html" %}

{% block title %}Подписка{% endblock %}

{% block navigation %}
    {% include "partials/nav_index.html" %}
{% endblock %}

{% block header %}{% endblock %}

{% block column_left %}
{% endblock %}

{% block content %}
    <h1 class="h1-art">Отписка от рассылки</h1>
    <p class="p-art">
        Если вы все таки решили отписаться <br>
        от нашей новостной рассылки, <br>
        просим указать причину
    </p>
    <div class="form-container t-align_center">
        <form class="form" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
                {{ field.errors }}
                {{ field }}
                <br>
            {% endfor %}
            <button class="btn btn-primary" type="submit">Отписаться</button>
        </form>
    </div>
{% endblock content %}