{% extends "layout_2_col.html" %}
{% load static %}
{% load i18n %}

{% block navigation %}
    {% include "partials/nav_index.html" %}
{% endblock %}

{% block header %}{% endblock %}

{% block column_left %}
{% endblock %}

{% block content %}

<h1 class="t-align_center">Магазины</h1>
<p class="t-align_center">Наши изделия Artskill можно приобрести у нас на сайте или в магазинах партнеров. Рекомендуем уточнить наличие товара по телефону.</p>


<div class="col-lg-1"></div>
    <div class="col-lg-10">
        <div class="col-lg-1 col-sm-1"></div>
        <button class="tablink col-lg-2 col-sm-2 col-xs-12" onclick="openCity('Moscow', this)" id="defaultOpen">Москва</button>
        <button class="tablink col-lg-2 col-sm-2 col-xs-12" onclick="openCity('SPb', this)">Санкт&ndash;Петербург</button>
        <button class="tablink col-lg-2 col-sm-2 col-xs-12" onclick="openCity('Ekb', this)">Екатеринбург</button>
        <button class="tablink col-lg-2 col-sm-2 col-xs-12" onclick="openCity('Kirov', this)">Киров</button>
        <button class="tablink col-lg-2 col-sm-2 col-xs-12" onclick="openCity('Samara', this)">Самара</button>
    </div>
<div class="col-lg-1 col-sm-1"></div>


<div id="Moscow" class="tabcontent col-sm-12">
    <div class="tab-border col-sm-12 col-xs-12">
        <div class="col-sm-8">
            <h2>Paperfan</h2>
            <p>дизайнерские блокноты </p>
            <div class="line">
                <img src="{% static '/oscar/img/icons/mobile.svg' %}">
                <p>+7(495)640-53-73</p>
            </div>
            <div class="line">
                <img src="{% static '/oscar/img/icons/site.svg' %}">
                <p>http://paperfan.ru/catalog/artskill</p>
            </div>
            <div class="line">
                <img src="{% static '/oscar/img/icons/email.svg' %}">
                <p>м. Алексеевская, Проспект мира 105, стр. 6, 4 этаж, офис 439</p>
            </div>
        </div>
        <div class="col-sm-4 map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2241.8023132987555!2d37.633909515722806!3d55.81403229473554!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b535dfd3375bc1%3A0x124f598ff7cfd20c!2zUHJvc3Bla3QgTWlyYSwgMTA1INGB0YLRgNC-0LXQvdC40LUgNiwgTW9za3ZhLCAxMjkwODU!5e0!3m2!1sen!2sru!4v1554316813156!5m2!1sen!2sru" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>

    <div class="tab-border col-sm-12 col-xs-12">
        <div class="col-sm-8">
            <h2>Этюдсайт </h2>
            <div class="line">
                <img src="{% static '/oscar/img/icons/mobile.svg' %}">
                <p>+7 (495) 740 6220 </p>
            </div>
            <div class="line">
                <img src="{% static '/oscar/img/icons/site.svg' %}">
                <p>https://www.etudesite.ru/catalog/artskill_kozhanye_penaly_pro_dlya_instrumentov/ </p>
            </div>
            <div class="line">
                <img src="{% static '/oscar/img/icons/email.svg' %}">
                <p>м. Электрозаводская, Мажоров переулок д.14, стр.1 оф. 1106 </p>
            </div>
        </div>
        <div class="col-sm-4 map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2243.5186757549372!2d37.71078331572172!3d55.78423099703537!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b5356d6a87c79b%3A0x61c8e8d92c4eb8a4!2zTWF6aG9yb3YgUGVyZXVsb2ssIDE0INGB0YLRgNC-0LXQvdC40LUgMSwgTW9za3ZhLCAxMDcwMjM!5e0!3m2!1sen!2sru!4v1554317745949!5m2!1sen!2sru" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>

    <div class="tab-border col-sm-12 col-xs-12">
        <div class="col-sm-8">
            <h2>Magicmag </h2>
            <p>магазин удивительных товаров и идей </p>
            <div class="line">
                <img src="{% static '/oscar/img/icons/mobile.svg' %}">
                <p>8-800-775-40-47 </p>
            </div>
            <div class="line">
                <img src="{% static '/oscar/img/icons/site.svg' %}">
                <p>https://magicmag.net/tag?filter_name=artskill </p>
            </div>
            <div class="line">
                <img src="{% static '/oscar/img/icons/email.svg' %}">
                <p>м. Китай-Город, Хохловский пер. д. 7-9, стр.3</p>
            </div>
        </div>
        <div class="col-sm-4 map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2245.156150718874!2d37.64106411572067!3d55.755789599229416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54af501cb4b5f%3A0xfa6b6391f6247b33!2zS2hva2hsb3Zza2l5IFBlcmV1bG9rLCA3Lzkg0YHRgtGA0L7QtdC90LjQtSAzLCBNb3NrdmEsIDEwMTAwMA!5e0!3m2!1sen!2sru!4v1554317799073!5m2!1sen!2sru" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>

    <div class="tab-border col-sm-12 col-xs-12">
        <div class="col-sm-8">
            <h2>Красный Карандаш</h2>
            <p>сеть магазинов для художников</p>
            <div class="line">
                <img src="{% static '/oscar/img/icons/mobile.svg' %}">
                <p>+7 (495) 623-15-59, +7 (495) 623-01-63 </p>
            </div>
            <div class="line">
                <img src="{% static '/oscar/img/icons/site.svg' %}">
                <p>http://krasniykarandash.ru</p>
            </div>
            <div class="line">
                <img src="{% static '/oscar/img/icons/email.svg' %}">
                <p>ст.м. Чистые пруды, Гусятников пер., 13/3</p>
            </div>
        </div>
        <div class="col-sm-4 map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2244.6879377284713!2d37.640712315720975!3d55.76392299860209!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a617338cfbd%3A0x3530538f414644e2!2sGusyatnikov+Pereulok%2C+13%2F3%2C+Moskva%2C+101000!5e0!3m2!1sen!2sru!4v1554317832786!5m2!1sen!2sru" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>

    <div class="tab-border col-sm-12 col-xs-12">
        <div class="col-sm-8">
            <h2>Красный Карандаш</h2>
            <p>сеть магазинов для художников</p>
            <div class="line">
                <img src="{% static '/oscar/img/icons/mobile.svg' %}">
                <p>+7 (495) 912-39-29, +7 (495) 912-38-70</p>
            </div>
            <div class="line">
                <img src="{% static '/oscar/img/icons/site.svg' %}">
                <p>http://krasniykarandash.ru</p>
            </div>
            <div class="line">
                <img src="{% static '/oscar/img/icons/email.svg' %}">
                <p>ст.м. Таганская (радиальная), ул. Б. Каменщики, 4</p>
            </div>
        </div>
        <div class="col-sm-4 map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2246.167995677026!2d37.650972315720004!3d55.73821000058507!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54ae71c872357%3A0x85a12bcfbdefcc22!2sUlitsa+Bol&#39;shiye+Kamenshchiki%2C+4%2C+Moskva%2C+115172!5e0!3m2!1sen!2sru!4v1554317862316!5m2!1sen!2sru" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>

    <div class="tab-border col-sm-12 col-xs-12">
        <div class="col-sm-8">
            <h2>Красный Карандаш</h2>
            <p>сеть магазинов для художников</p>
            <div class="line">
                <img src="{% static '/oscar/img/icons/mobile.svg' %}">
                <p>+7 (499) 343-39-15, +7 (499) 238-08-64</p>
            </div>
            <div class="line">
                <img src="{% static '/oscar/img/icons/site.svg' %}">
                <p>http://krasniykarandash.ru</p>
            </div>
            <div class="line">
                <img src="{% static '/oscar/img/icons/email.svg' %}">
                <p>ст.м. Парк Культуры, ул. Крымский Вал, 10 (здание ЦДХ)</p>
            </div>
        </div>
        <div class="col-sm-4 map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2246.3433905241673!2d37.60366016571991!3d55.73516235082012!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54b07bc0258b5%3A0x10568d465ae98d58!2z0KbQtdC90YLRgNCw0LvRjNC90YvQuSDQtNC-0Lwg0YXRg9C00L7QttC90LjQutCw!5e0!3m2!1sen!2sru!4v1554317905729!5m2!1sen!2sru" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>

    <div class="tab-border col-sm-12 col-xs-12">
        <div class="col-sm-8">
            <h2>Getpen.ru</h2>
            <p>магазин с богатым выбором пишущих инструментов</p>
            <div class="line">
                <img src="{% static '/oscar/img/icons/mobile.svg' %}">
                <p>+7 (495) 268-06-94, +7 (495) 210-99-81</p>
            </div>
            <div class="line">
                <img src="{% static '/oscar/img/icons/site.svg' %}">
                <p>http://www.tsvetnoy.com/ru/</p>
            </div>
            <div class="line">
                <img src="{% static '/oscar/img/icons/email.svg' %}">
                <p>ст. м. Дмитровская, ул. Новодмитровская, д. 5а, стр. 1, офис 1108</p>
            </div>
        </div>
        <div class="col-sm-4 map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2242.2365856248725!2d37.585461215722624!3d55.80649299531752!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b5361d15267c81%3A0xa85d1415736ebac1!2zTm92b2RtaXRyb3Zza2F5YSBVbGl0c2EsIDXQkCDRgdGC0YDQvtC10L3QuNC1IDEsIE1vc2t2YSwgMTI3MDE1!5e0!3m2!1sen!2sru!4v1554317935586!5m2!1sen!2sru" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>

    <div class="tab-border col-sm-12 col-xs-12">
        <div class="col-sm-8">
            <h2>AVGVST jewelry</h2>
            <div class="line">
                <img src="{% static '/oscar/img/icons/mobile.svg' %}">
                <p>+7(950)207-80-80</p>
            </div>
            <div class="line">
                <img src="{% static '/oscar/img/icons/site.svg' %}">
                <p>http://www.jewelry-in-august.com</p>
            </div>
            <div class="line">
                <img src="{% static '/oscar/img/icons/email.svg' %}">
                <p>Малый Козихинский 8/18</p>
            </div>
        </div>
        <div class="col-sm-4 map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2244.6710986263333!2d37.59352831572097!3d55.76421549857943!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a383e45e499%3A0x65ed47ea1d27e437!2sMalyy+Kozikhinskiy+Pereulok%2C+8%2F18%2C+Moskva%2C+123001!5e0!3m2!1sen!2sru!4v1554317960617!5m2!1sen!2sru" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>

    <div class="tab-border col-sm-12 col-xs-12">
        <div class="col-sm-8">
            <h2>PAPER LOFT</h2>
            <div class="line">
                <img src="{% static '/oscar/img/icons/mobile.svg' %}">
                <p>+7(926)102-20-40</p>
            </div>
            <div class="line">
                <img src="{% static '/oscar/img/icons/site.svg' %}">
                <p>https://www.paperloft.ru/penaly-artskill-pro</p>
            </div>
            <div class="line">
                <img src="{% static '/oscar/img/icons/email.svg' %}">
                <p>Сельскохозяйственный 1-й проезд, д.5, оф. кв16 п.1 эт.4</p>
            </div>
        </div>
        <div class="col-sm-4 map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2240.751409895397!2d37.64595131572355!3d55.832273993327576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b5367e7c5c3f6d%3A0xd15d80b155769086!2s1-Y+Sel&#39;skokhozyaystvennyy+Proyezd%2C+5%2C+Moskva%2C+129226!5e0!3m2!1sen!2sru!4v1554318053630!5m2!1sen!2sru" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>

    <div class="tab-border col-sm-12 col-xs-12">
        <div class="col-sm-8">
            <h2>ITEMS</h2>
            <div class="line">
                <img src="{% static '/oscar/img/icons/mobile.svg' %}">
                <p>+7(495)73–777–73</p>
            </div>
            <div class="line">
                <img src="{% static '/oscar/img/icons/site.svg' %}">
                <p>https://www.facebook.com/itemsarea</p>
            </div>
            <div class="line">
                <img src="{% static '/oscar/img/icons/email.svg' %}">
                <p>Цветной б-р, д.15, оф.стр 1</p>
            </div>
        </div>
        <div class="col-sm-4 map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2244.2714910075183!2d37.61816971572127!3d55.771156498043986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a6bc7e51b21%3A0xcaefd7e210939483!2sTsvetnoy+Blvd%2C+15%2C+Moskva%2C+127051!5e0!3m2!1sen!2sru!4v1554318118203!5m2!1sen!2sru" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>



<div id="SPb" class="tabcontent col-sm-12 col-xs-12">

    <div class="tab-border col-sm-12">
        <div class="col-sm-8">
            <h2>Artskill</h2>
            <p>Наша мастерская, офис и интернет магазин</p>
            <p>Будем рады вас видеть, просьба предварительно созвониться с нами.</p>
            <div class="line">
                <img src="{% static '/oscar/img/icons/mobile.svg' %}">
                <p>8 921 586 88 90</p>
            </div>
            <div class="line">
                <img src="{% static '/oscar/img/icons/site.svg' %}">
                <p>artskillstore.pro</p>
            </div>
            <div class="line">
                <img src="{% static '/oscar/img/icons/email.svg' %}">
                <p>метро Московские ворота, улица Цветочная 6 М</p>
            </div>
        </div>
        <div class="col-sm-4 map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2001.3794000711487!2d30.327583515881688!3d59.892651872769775!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696306b4682f0e7%3A0x8cd31fee3591132c!2sTsvetochnaya+Ulitsa%2C+6%2C+Sankt-Peterburg%2C+196084!5e0!3m2!1sen!2sru!4v1554318163848!5m2!1sen!2sru" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>

    <div class="tab-border col-sm-12 col-xs-12">
<div class="col-sm-8">
    <h2>Logovo</h2>
    <p>Мужской магазин одежды, аксессуаров и обуви</p>
    <div class="line">
        <img src="{% static '/oscar/img/icons/mobile.svg' %}">
        <p>8 812 930 60 88</p>
    </div>
    <div class="line">
        <img src="{% static '/oscar/img/icons/site.svg' %}">
        <p>logovostore.ru/manufacturer/artskill</p>
    </div>
    <div class="line">
        <img src="{% static '/oscar/img/icons/email.svg' %}">
        <p>Пространство «Флигель», ул. Восстания, д. 24</p>
    </div>
</div>
<div class="col-sm-4 map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.5773239362422!2d30.35808931588354!3d59.939155569019185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469631a20e2ab311%3A0xd554a43566265f2a!2sUlitsa+Vosstaniya%2C+24%2C+Sankt-Peterburg%2C+191014!5e0!3m2!1sen!2sru!4v1554318188179!5m2!1sen!2sru" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
    </div>

    <div class="tab-border col-sm-12 col-xs-12">
<div class="col-sm-8">
    <h2>JNBY</h2>
    <p>Магазин дизайнерской одежды.</p>
    <p>Магазин дизайнерской одежды.
        Представлена коллекция Artskill х DVRSM.: обувь, ремни, сумка поясная, сума через плечо.</p>
    <div class="line">
        <img src="{% static '/oscar/img/icons/mobile.svg' %}">
        <p>8 812 909 39 67</p>
    </div>
    <div class="line">
        <img src="{% static '/oscar/img/icons/site.svg' %}">
        <p>jnby.com.ru</p>
    </div>
    <div class="line">
        <img src="{% static '/oscar/img/icons/email.svg' %}">
        <p>Невский пр., 148</p>
    </div>
</div>
<div class="col-sm-4 map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1999.2195888898063!2d30.370014115883077!3d59.92849836987886!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469631b9434fe817%3A0xa9fd7fa336e71a7c!2sNevsky+avenue%2C+148%2C+Sankt-Peterburg%2C+191024!5e0!3m2!1sen!2sru!4v1554318221554!5m2!1sen!2sru" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
    </div>

    <div class="tab-border col-sm-12 col-xs-12">
        <div class="col-sm-8">
            <h2>AVGVST jewelry</h2>
            <div class="line">
                <img src="{% static '/oscar/img/icons/mobile.svg' %}">
                <p>+7(950)207-80-80</p>
            </div>
            <div class="line">
                <img src="{% static '/oscar/img/icons/site.svg' %}">
                <p>http://www.jewelry-in-august.com</p>
            </div>
            <div class="line">
                <img src="{% static '/oscar/img/icons/email.svg' %}">
                <p>Литейный, 59 , Porta 9, 2-ой этаж</p>
            </div>
        </div>
        <div class="col-sm-4 map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.8699351475827!2d30.34548241588334!3d59.934300369410856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469631a6e8b6132b%3A0xb6bbed352a526cc7!2sLiteyniy+avenue%2C+59%2C+Sankt-Peterburg%2C+191014!5e0!3m2!1sen!2sru!4v1554318252890!5m2!1sen!2sru" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>

</div>


<div id="Ekb" class="tabcontent col-sm-12 col-xs-12">
    <div class="tab-border col-sm-12">
        <div class="col-sm-8">
            <h2>Deluxe Papers</h2>
            <p>Бутик дизайнерских блокнотов </p>
            <div class="line">
                <img src="{% static '/oscar/img/icons/mobile.svg' %}">
                <p>+7 (343) 319-41-52, +7 (922) 109-41-52</p>
            </div>
            <div class="line">
                <img src="{% static '/oscar/img/icons/site.svg' %}">
                <p>http://deluxepapers.ru</p>
            </div>
            <div class="line">
                <img src="{% static '/oscar/img/icons/email.svg' %}">
                <p>ул. Завокзальная, 5, оф. 408</p>
            </div>
        </div>
        <div class="col-sm-4 map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2180.937334216542!2d60.59001861576297!3d56.8641698131963!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c16e0cdf37bfa1%3A0xc8fcd8c4f2949e40!2sZavokzal&#39;naya+Ulitsa%2C+5%2C+Yekaterinburg%2C+Sverdlovskaya+oblast&#39;%2C+620141!5e0!3m2!1sen!2sru!4v1554318281115!5m2!1sen!2sru" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>

    <div class="tab-border col-sm-12 col-xs-12">
        <div class="col-sm-8">
            <h2>AVGVST jewelry</h2>
            <div class="line">
                <img src="{% static '/oscar/img/icons/mobile.svg' %}">
                <p>+7(950)207-80-80</p>
            </div>
            <div class="line">
                <img src="{% static '/oscar/img/icons/site.svg' %}">
                <p>http://www.jewelry-in-august.com</p>
            </div>
            <div class="line">
                <img src="{% static '/oscar/img/icons/email.svg' %}">
                <p>Малышева 21/4</p>
            </div>
        </div>
        <div class="col-sm-4 map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2182.70793113989!2d60.589655315761796!3d56.833799915568015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c16ef4409d7cbf%3A0xbb2e3dcbee0a2d99!2sUlitsa+Malysheva%2C+21%2F4%2C+Yekaterinburg%2C+Sverdlovskaya+oblast&#39;%2C+620014!5e0!3m2!1sen!2sru!4v1554318300019!5m2!1sen!2sru" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>

</div>

<div id="Kirov" class="tabcontent col-sm-12 col-xs-12">
    <div class="tab-border col-sm-12">
        <div class="col-sm-8">
            <h2>Paperhouse</h2>
            <p>магазин дизайнерских канцтоваров</p>
            <div class="line">
                <img src="{% static '/oscar/img/icons/mobile.svg' %}">
                <p>8 800 222 12 90 </p>
            </div>
            <div class="line">
                <img src="{% static '/oscar/img/icons/site.svg' %}">
                <p>http://paper-house.ru/collection/artskill</p>
            </div>
            <div class="line">
                <img src="{% static '/oscar/img/icons/email.svg' %}">
                <p>г. Киров, ул. Карла Либкнехта, д. 74</p>
            </div>
        </div>
        <div class="col-sm-4 map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2078.452243238064!2d49.663069115830616!3d58.60473647594818!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43fcf5cc5c3fdfd1%3A0x6d1b2e5bc3e8e5eb!2sUlitsa+Karla+Libknekhta%2C+74%2C+Kirov%2C+Kirovskaya+oblast&#39;%2C+610020!5e0!3m2!1sen!2sru!4v1554318331054!5m2!1sen!2sru" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>

</div>

<div id="Samara" class="tabcontent col-sm-12 col-xs-12">
    <div class="tab-border col-sm-12">
        <div class="col-sm-8">
            <h2>ВСЕ ДРУГОЕ</h2>
            <p>магазин дизайнерских вещей и подарков</p>
            <div class="line">
                <img src="{% static '/oscar/img/icons/mobile.svg' %}">
                <p>8 (800) 500 62 21, 8 (846) 333-54-33</p>
            </div>
            <div class="line">
                <img src="{% static '/oscar/img/icons/site.svg' %}">
                <p>https://vsedrugoeshop.ru/brendi/Artskill/</p>
            </div>
            <div class="line">
                <img src="{% static '/oscar/img/icons/email.svg' %}">
                <p>улица Молодогвардейская, дом 76</p>
            </div>
        </div>
        <div class="col-sm-4 map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2001.4336887823488!2d30.32930895145302!3d59.891750672753446!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696306b466ebd65%3A0x4aac4f4304adba4c!2sMt-Obuvnaya+Fabrika!5e0!3m2!1sen!2sru!4v1551388669282" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>

</div>



<script>
    function openCity(cityName, elmnt) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].style.fontWeight = "400";
            tablinks[i].style.borderBottomColor= "#999999";
        }
        document.getElementById(cityName).style.display = "block";
        elmnt.style.fontWeight = 600;
        elmnt.style.borderBottomColor = "#000000";
    }
    document.getElementById("defaultOpen").click();
</script>






{% endblock content %}

