{% load history_tags %}
{% load basket_tags %}
{% load currency_filters %}
{% load thumbnail %}
{% load i18n %}
{% load staticfiles %}

{% load product_tags %}
{% load display_tags %}
{% load purchase_info_tags %}

{% load widget_tweaks %}

<ul class="basket-mini-item list-unstyled">
    {% if request.basket.num_lines %}
        {% for line in request.basket.all_lines %}
            <li>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="image_container">

                            {% with image=line.product.primary_image %}
                                {% thumbnail image.original "100x100" upscale=False as thumb %}
                                <a href="{{ line.product.get_absolute_url }}"><img  src="{{ thumb.url }}" alt="{{ line.product.get_title }}"></a>
                                {% endthumbnail %}
                            {% endwith %}

                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-7">
                        {% if line.product.upc %}
                        <p class="shadow" style="text-transform: uppercase;font-weight: 300">{% trans "UPC" %} {{ line.product.upc }}</p>
                        {% endif %}
                        <p><a href="{{ line.product.get_absolute_url }}" class="">{{ line.description }}</a></p>
                        <p class="">{{ line.product.get_product_class.name }}</p>


                        <div class="cart-parameters">
                            {% if line.product.color %}
                            <p>ЦВЕТ: {{ line.product.get_color_display }}</p>
                            {% endif %}
                            <p>КОЛИЧЕСТВО: {{ line.quantity }}</p>
                        </div>

                        <div style="margin-top: 30px"><a href="#" data-id="{{ forloop.counter0 }}" data-behaviours="remove" style="font-weight: 400;">Убрать из заказа</a></div>

                    </div>


                </div>





            </li>

    <div class="col-sm-12" style="width: 91%;margin-left: 4.5%; height: 1px; background-color: #000000;font-size: 12px;"></div>
        {% endfor %}


    <div class="col-sm-12 mini-busket">
        <div class="col-sm-5">
            <p style="margin-top: 6px;">{{request.basket.num_items}} ТОВ. НА СУММУ:</p>
        </div>
        <div class="col-sm-7 mini-busket-price">
            {{ request.basket.total_excl_tax|currency:request.basket.currency }}
        </div>
    </div>

        <li class="form-group form-actions col-sm-12" style="background: #ffffff">
            <a href="{% url 'checkout:index' %}" class="col-sm-12 btn btn-primary btn-sm">Оформить заказ</a>
            <a href="{% url 'basket:summary' %}" class="col-sm-12 t-align_center" style="margin-top: 10px;font-weight: 300;">{% trans "View basket" %}</a>
        </li>
    {% else %}
        <li><p>{% trans "Your basket is empty." %}</p></li>
    {% endif %}
</ul>
