{% load static %}


{% load currency_filters %}
{% load i18n %}

<div class="desktop-header">

    <div class="col-sm-1"></div>

    {% include 'partials/mobile_menu.html' %}


    <div class="col-sm-3 col-xs-4 h1">

        <button id="myBtn" data-modal="myModal1" style="border: none; text-align: left; padding: 1px 12px;background-color: #ffffff;" class="myBtn col-lg-2  col-sm-4 col-xs-6"><img src="{% static '/oscar/img/icons/search-icon.svg' %}"></button>

        <div id="myModal1" class="modal">
            <div class="modal-content">
                <span class="close" data-modal="myModal1">&times;</span>
                {% include 'partials/search.html' %}
            </div>
        </div>



        <div class="dropdown user-desctop col-lg-2 col-sm-4 col-xs-6">
            <button class="dropbtn" style="background-color: #ffffff;"><img src="{% static '/oscar/img/icons/user-icon.svg' %}"></button>
            <div class="dropdown-content">
                {% if user.is_authenticated %}
                    <a href="{% url 'customer:profile-view' %}">
                        Личный кабинет
                    </a>

                    {% if user.is_staff %}
                        <a href="{% url 'dashboard:index' %}">
                            Панель управления
                        </a>
                    {% endif %}

                    <a href="{% url 'customer:logout' %}">
                        Выйти
                    </a>
                {% else %}


                <button class="myBtn" data-modal="myModal3" >Войти</button>
                {% include "partials/modal3.html" %}


                <button class="myBtn" data-modal="myModal2" >Регистрация</button>
                {% include "partials/modal2.html" %}

                {% endif %}
            </div>
        </div>



        <div class="basket-mini"
             style="display: inline-block;
        cursor: pointer;" class="col-lg-2 col-sm-4 col-xs-6">
        <span class="btn-group">
            <span class="dropdown-toggle circle-parent" data-toggle="dropdown">
                <img src="{% static '/oscar/img/icons/cart-icon.svg' %}">
                {# Count of items in basket #}
                {% if request.basket.num_items %}
                    <div class="busket-circle">{{ request.basket.num_items }}</div>
                {% endif %}
            </span>

            <ul class="dropdown-menu pull-right">
                <li>{% include "basket/partials/basket_quick.html" %}</li>
            </ul>
        </span>
        </div>

    </div>
</div>

<script>

    var buttons = document.getElementsByClassName("myBtn")
    var span = document.getElementsByClassName("close");

    for (var i = 0; i < buttons.length; i++) {
        buttons[i].onclick = function() {
            var id = this.getAttribute('data-modal');
            var modal = document.getElementById(id);
            modal.style.display = 'block';
        }
    }

    for (var i = 0; i < span.length; i++) {
        span[i].onclick = function() {
            var id = this.getAttribute('data-modal');
            var modal = document.getElementById(id);
            modal.style.display = 'none';
        }
    }

    window.onclick = function(event) {
        var isModal = (' ' + event.target.className + ' ').indexOf(' modal ') > -1;
        if (isModal) {
            event.target.style.display = "none";
        }
    }
</script>