{% load static %}

<div class="col-sm-1"></div>
<div class="col-sm-8 h1"><a href="{{ homepage_url }}"><img src="{% static 'oscar/img/artskill-logo-black.svg' %}"></a></div>

<div class="col-sm-3 h1">

    {% include 'partials/search.html' %}
    <a href="{{ homepage_url }}">
        <img src="{% static '/oscar/img/icons/search-icon.svg' %}">
    </a>


    <a id="login_link"
       {% if user.is_authenticated %}
            href="{% url 'customer:profile-view'%}"
       {% else %}
            href="{% url 'customer:login' %}?next={{ request.path }}"
       {% endif %} >
        <img src="{% static '/oscar/img/icons/user-icon.svg' %}">
    </a>




    <a href="{% url 'basket:summary' %}">
        <img src="{% static '/oscar/img/icons/cart-icon.svg' %}">
    </a>

</div>