{% load i18n %}
{% load static %}

<div class="owl-carousel owl-theme slideshow-container">
    <div class="item bcgslide slide1">
        <div class="slide-text">
            <p>Новинка</p>
            <h2>Линейка пеналов для<br>кистей</h2>
            <a href="#">перейти в раздел</a>
        </div>
    </div>
    <div class="item bcgslide slide2"></div>
    <div class="item bcgslide slide3"></div>
</div>
<style>
    .slide1 {
        background-image: url('{% static '/oscar/img/slides/slider1.jpg' %}');
    }
    .slide2 {
        background-image: url('{% static '/oscar/img/slides/slider2.jpg' %}');
    }
    .slide3 {
        background-image: url('{% static '/oscar/img/slides/slider3.jpg' %}');
    }
</style>
<script>
    $(document).ready(function(){
        $(".owl-carousel").owlCarousel();
    });
    $('.owl-carousel').owlCarousel({
        center: true,
        items:1,
        loop:true,
        margin:10,
        responsiveClass:true,
        responsive:{
            0:{
                items:1,
                nav:true
            },
            600:{
                items:1,
                nav:false
            },
            1000:{
                items:1,
                nav:true,
                loop:false
            }
        }
    })
</script>

<!-- T795 -->
<div class="t-rec_pt_30 t-rec_pb_30 t-align_center">
    <div class="t-col t-col_12 ">
        <div class="t-rec_pb_30" style="font-size:36px;">
            Artskill
        </div>
        <div class="T795-desc">Мы
            создаем яркие и функциональные аксессуары ручной работы из натуральной кожи, подчеркивающие
            индивидуальность обладателя.
        </div>
    </div>
</div>
<div class="t-rec_pt_30  t-align_center">
    <div class="t-container">
        <div class="t-row">
            <div class="t-col t-col_6 t-prefix_3">
                <div class="t022__text">Дизайн &bull; Качество &bull; Индивидуальность<br/></div>
            </div>
        </div>
    </div>
</div>

<div class="t-rec_pt_30 t-rec_pb_30 t-align_center">
    <div class="t-col t-col_12 ">
        <div class="t-rec_pb_30" style="font-size:36px;">
            Хиты продаж
        </div>
    </div>
</div>


<div class="col-sm-12">
    <div class="col-sm-6 big-box">

        <a href="#">
            <div class="box">
                <div class='aspect-ratio box-relative bcg HIT-1-Big'>

                    <div class="category-name-top">
                        <h3 class="category-name-h3">Artskill Shoes</h3>
                        <p>малый пенал</p>
                        <p class="pr">1 800 Р</p>
                    </div>


                </div>
            </div>
        </a>

    </div>

    <div class="col-sm-3 col-xs-6">
        <div class=col-sm-6">

            <a href="#">
                <div class="box">
                    <div class='aspect-ratio bcg HIT-2-Small'>
                        <div class="category-name">
                            <h3 class="category-name-h3">Artskill mini</h3>
                            <p>малый пенал</p>
                            <p class="pr">1 800 Р</p>
                        </div>

                    </div>
                </div>
            </a>

        </div>
        <div class=col-sm-6">
            <a href="#">
                <div class="box">
                    <div class='aspect-ratio bcg HIT-3-Small'>

                        <div class="category-name">
                            <h3 class="category-name-h3">Artskill Pro</h3>
                            <p>профессиональный пенал</p>
                            <p class="pr">4 200 Р</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-sm-3 col-xs-6">
        <div class=col-sm-6">
            <a href="#">
                <div class="box">
                    <div class='aspect-ratio bcg HIT-4-Small '>
                        <div class="category-name">
                            <h3 class="category-name-h3">Artskill Brush</h3>
                            <p>пенал для кистей</p>
                            <p class="pr">4 360 Р</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class=col-sm-6">
            <a href="#">
                <div class="box">
                    <div class='aspect-ratio bcg HIT-5-Small '>
                        <div class="category-name">
                            <h3 class="category-name-h3">Artskill Brush Mini</h3>
                            <p>пенал для кистей</p>
                            <p class="pr">3 200 Р</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>


<div class="col-sm-12">
    <div id="rec88585884" class="r t-rec t-rec_pt_90 mt600 t-rec_pb_90" style="background-color: #FFFFFF "
         data-record-type="594"><!-- t594 -->
        <div class="t594">
            <div class="t594__container t-container">
                <div class="t-col t594__item t594__item_5-in-row"><img
                        src="../../../static/oscar/img/partners/logo-01.svg"
                        data-original="images/tild3962-6235-4361-b535-643038646330__20.jpg" class="t594__img t-img "
                        imgfield="li_img__1481203544538" style="max-width:160px;"/></div>
                <div class="t-col t594__item t594__item_5-in-row"><img
                        src="../../../static/oscar/img/partners/logo-02.png"
                        data-original="images/tild3865-6137-4365-b438-393534366466__21.jpg" class="t594__img t-img "
                        imgfield="li_img__1481205129244" style="max-width:160px;"/></div>
                <div class="t-col t594__item t594__item_5-in-row"><img
                        src="../../../static/oscar/img/partners/logo-03.png"
                        data-original="images/tild3362-3132-4563-a261-633639373930__blob.png" class="t594__img t-img "
                        imgfield="li_img__1481205877302" style="max-width:160px;"/></div>
                <div class="t-col t594__item t594__item_5-in-row"><img
                        src="../../../static/oscar/img/partners/logo-04.png"
                        data-original="images/tild6132-3663-4631-b230-353635316432__blob.png" class="t594__img t-img "
                        imgfield="li_img__1481205879887" style="max-width:160px;"/></div>
                <div class="t-col t594__item t594__item_5-in-row"><img
                        src="../../../static/oscar/img/partners/logo-05.png"
                        data-original="images/tild3861-6330-4137-b664-653130616331__15.jpg" class="t594__img t-img "
                        imgfield="li_img__1481205139575" style="max-width:160px;"/></div>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-12">
    <div class="subsript t-rec t-rec_pt_60 t-rec_pb_60" style="margin-bottom: 60px">
        {% include 'artskill/includes/subscribe_form.html' %}
    </div>
</div>
</div>



</div>