{% load static %}

<div class="col-sm-8 col-xs-7 h1">
    <a href="javascript:void(0);" class="menubars col-xs-2" onclick="menuFunction()">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
            <path fill="#3C3D41" fill-rule="nonzero" d="M8 21.5V19h25v2.5H8zM8 19h25v2.5H8V19zm0 10.5V27h25v2.5H8zM8 27h25v2.5H8V27zm0-13.5V11h25v2.5H8zM8 11h25v2.5H8V11z"/>
        </svg>
    </a>
    <a href="{{ homepage_url }}" class="col-sm-4 col-xs-10"><img src="{% static 'oscar/img/artskill-logo-black.svg' %}" class="logo"></a>
</div>
<script>
    function menuFunction() {
        var x = document.getElementById("myLinks");
        if (x.style.display === "block") {
            x.style.display = "none";
        } else {
            x.style.display = "block";
        }
    }
</script>