{% extends "layout_2_col.html" %}
{% load i18n %}

{% block title %}
    Sela | {{ block.super }}
{% endblock %}

{% block navigation %}
    {% include "partials/nav_index.html" %}
{% endblock %}

{% block header %}{% endblock %}

{% block column_left %}
{% endblock %}

{% block content %}
    <h2 class="t-align_center">SALE</h2>
    <p class="p-art t-align_center">В данный момент распродаж нет</p>

    <p class="p-art t-align_center">
        <a href="#" onclick="boxberry.open(boxberry_shipping_handler_function); return false;">Выбрать пункт выдачи на
            карте</a>
    <p id="city" class="p-art t-align_center"></p>

    <form action="." method="get">
        <div class="t-align_center">
{#            <p><label for="id_first_name">Имя:</label><br>#}
{#                <input type="text" name="first_name" maxlength="255" required#}
{#                       id="id_first_name"></p>#}
{#            <p><label for="id_last_name">Фамилия:</label><br>#}
{#                <input type="text" name="last_name" maxlength="255" required#}
{#                       id="id_last_name"></p>#}
{#            <p><label for="id_phone_number">Телефонный номер:</label><br>#}
{#                <input type="text" name="phone_number"#}
{#                       id="id_phone_number"><br>#}
{#                <span class="helptext">В случае, если нам нужно будет связаться с вами по вашему заказу</span></p>#}
{##}
{#            <hr>#}

            <select id="shipping_method_select" name="shipping_method">
                <option value="method_1">Method 1</option>
                <option value="method_2">Method 2</option>
                <option value="method_3">Method 3</option>
                <option value="method_4">Method 4</option>
            </select>

            <p><label for="id_line1">Первая строка адреса:</label><br>
                <input type="text" name="line1" maxlength="255"
                       required id="id_line1"></p>
            <p><label for="id_line2">Вторая строка адреса:</label><br>
                <input type="text" name="line2" maxlength="255"
                       id="id_line2"></p>
            <p><label for="id_line3">Третья строка адреса:</label><br>
                <input type="text" name="line3" maxlength="255"
                       id="id_line3"></p>
            <p><label for="id_line4">Город:</label><br>
                <input type="text" name="line4" maxlength="255" id="id_line4"></p>
            <p><label for="id_state">Штат/провинция:</label><br>
                <input type="text" name="state" maxlength="255"
                       id="id_state"></p>
            <p><label for="id_postcode">Почтовый индекс:</label><br>
                <input type="text" name="postcode" maxlength="64"
                       id="id_postcode"></p>

{#            <p><label for="id_notes">Инструкции:</label><br>#}
{#                <textarea name="notes" cols="40" rows="10" id="id_notes"></textarea><br>#}
{#                <span class="helptext">Сообщите нам, что мы еще должны знать для доставки вашего заказа.</span></p>#}
{##}
{#            <hr>#}


            <div id="div_id_method_1" class="my_test">
                <h3>method_1</h3>
                <input type="text" name="address">
            </div>

            <div id="div_id_method_2" class="my_test">
                <h3>method_2</h3>
                <input type="text" name="address">
            </div>

            <div id="div_id_method_3" class="my_test">
                <h3>method_3</h3>
                <input type="text" name="address">
            </div>

            <div id="div_id_method_4" class="my_test">
                <h3>method_4</h3>
                <input type="text" name="address" placeholder="Адрес">
            </div>
            <br>
            <button type="submit" value="Register" class="btn btn-primary btn-lg"
                    data-loading-text="{% trans 'Registering...' %}">Отправить
            </button>
        </div>
    </form>

{% endblock content %}

{% block extrascripts %}
    <style>
        .my_test {
            height: 100px;
            width: 350px;
            border: 2px solid #1F1F1F;
            border-radius: 10px;
            margin: 20px auto;
        }
    </style>
    <script type="text/javascript" src="http://points.boxberry.ru/js/boxberry.js"></script>
    <script>
        function boxberry_shipping_handler_function(result) {
            // hide boxberry modal
            boxberry.hideContainer();
            boxberry.hideOverlay();

            console.log('name: ', result.name, ' price: ', result.price,
                ' id: ', result.id, ' address: ', result.address,
                ' workschedule: ', result.workschedule, ' phone: ', result.phone)
            document.getElementById('city').innerHTML = result.name;
            document.getElementById('js-pricedelivery').innerHTML = result.price;
            document.getElementById('code_pvz').innerHTML = result.id;

            result.name = encodeURIComponent(result.name) // Что бы избежать проблемы с кириллическими символами, на страницах отличными от UTF8, вы можете использовать функцию encodeURIComponent()

            document.getElementById('name').innerHTML = result.name;
            document.getElementById('b_address').innerHTML = result.address;
            document.getElementById('workschedule').innerHTML = result.workschedule;
            document.getElementById('phone').innerHTML = result.phone;
            document.getElementById('period').innerHTML = result.period;
            if (result.prepaid == '1') {
                alert('Отделение работает только по предоплате!');
            }
        }

        $(function () {
            let prefix = 'div_id_';
            // init shipping_method_select box
            let select_input = $("#shipping_method_select")[0];
            for (let i = 0; i < select_input.length; i++) {
                let box_id = '#' + prefix + select_input.options[i].value;
                $(box_id).hide();
            }
        });

        $("#shipping_method_select").change(function () {
            let prefix = 'div_id_';

            let current_method = $("#shipping_method_select option:selected")[0].value;

            for (let i = 0; i < this.length; i++) {
                let name = this.options[i].value;
                let box_id = '#' + prefix + name;
                if (current_method == name) {
                    $(box_id).show();
                } else {
                    $(box_id).hide();
                }
            }
        });

    </script>
{% endblock %}