{% extends "customer/baseaccountpage.html" %}

{% load i18n %}
{% load find_parent_tags %}

{% block tabcontent %}
    {% if wishlist %}

        {# wishlist #}

        {% with wishlist.lines.all as items %}
            {% if items %}

                {# products are in the wishlist #}


                <div class="col-sm-1"></div>
                <div class="basket-styles col-sm-10">
                    <div class="basket-title hidden-xs">
                        <div class="row">
                            <h2 class="col-sm-4 h3 align-left basket-col">Список товаров</h2>
                            <p class="col-sm-4 h3 align-center basket-col">Стоимость</p>
                        </div>
                    </div>
                    <div class="basket_summary wishlist">
                        {% for item in items %}
                            {% with product=item.product %}
                                {% get_product_parent product as product_parent %}

                                <div class="basket-items">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <a href="{{ product.get_absolute_url }}">
                                                <img src="{{ product.primary_image.original.url }}"
                                                     alt="{{ product.get_title }}" style="width: 95%;"
                                                     class="align-left">
                                            </a>
                                        </div>

                                        <div class="col-sm-3">
                                            {% if product.upc %}
                                                <p class="shadow"
                                                   style="text-transform: uppercase;">{% trans "UPC" %} {{ product.upc }}</p>
                                            {% endif %}

                                            {% if user.is_staff %}
                                                <a class="pull-right hidden-xs"
                                                   href="{% url 'dashboard:catalogue-product' pk=product.id %}">
                                                    <small><i class="icon-edit"></i> {% trans "Edit this product" %}
                                                    </small>
                                                </a>
                                            {% endif %}
                                            <a href="{{ product.get_absolute_url }}">
                                                <h1 class="title" style="text-align: left">{{ product_parent.get_title }}</h1>
                                            </a>
                                            <p class="classname">{{ product.get_product_class.name }}</p>

                                            {% if product.color %}
                                                <p>Цвет: {{ product.get_color_display }}</p>
                                            {% endif %}
                                        </div>

                                        <div class="col-sm-2">
                                            <div class="align-center">
                                                {% include "catalogue/partials/stock_record.html" with verbose=1 %}
                                            </div>
                                        </div>

                                        <div class="col-sm-2">
                                        </div>

                                        <div class="col-sm-2">
                                        {% include "catalogue/partials/add_to_basket_form.html" %}
                                        </div>
                                    </div>
                                </div>
                            {% endwith %}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-sm-1"></div>


            {% else %}

                {# wishlist is empty #}

                <p class="p-art">У вас пока нет ни одного товара в списка желаемых покупок.</p>
            {% endif %}
        {% endwith %}

    {% else %}

        {# no wishlist #}

        <p class="p-art">У вас пока нет ни одного товара в списка желаемых покупок.</p>
    {% endif %}
{% endblock %}
