{% extends "layout_2_col.html" %}

{% block navigation %}
    {% include "partials/nav_index.html" %}
{% endblock %}

{% block content %}
    <div class="t-align_center">
        <h1>{% block error_heading %}{% trans 'Sorry!' %}{% endblock %}</h1>
        <br>
        {% block error_message %}{% endblock %}
        <br>
        <br>
        <p>
            <a class="btn btn-primary btn-lg" onclick="javascript:history.go(-1);">Вернуться</a>
            <a class="btn btn-primary btn-lg" href="{{ homepage_url }}">На главную</a>
        </p>
    </div>
{% endblock content %}